footer{
    width: 100vw;
    background-color: #222222;
}

.footer-container{
    display: flex;
    flex-direction: row;
    width: 130rem;
    margin: auto;
    justify-content: space-between;
}

.footer-container div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#copy{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 0;
    color: #FFF;
}
