<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypogram</title>
    <link rel="stylesheet" href="./styles/aprendaScrum.css">
    <script type="module" src="scripts/index.js" defer></script>
</head> 
<body>

    <main>
        <h1>Conteúdos</h1>
        <div class="container">

            <div class="card">
                <img src="../public/imgs/teste.svg" alt="">

                <div>
                    <h1>Cultura e mindset ágil</h1>
                    <p>Neste capítulo, você vai explorar como a cultura ágil e o mindset colaborativo são essenciais no Scrum. Entenda como a adaptação, a comunicação aberta e a melhoria contínua impulsionam equipes a serem mais eficientes e entregarem valor de forma rápida e flexível.</p>
                </div>

                <div id="botao-inscreva">
                    <button><p>Leia mais</p><img src="../public/imgs/seta-direita.svg" alt=""></button>
                </div>
            </div>
            <div class="card">
                <img src="../public/imgs/teste.svg" alt="">

                <div>
                    <h1>Cultura e mindset ágil</h1>
                    <p>Neste capítulo, você vai explorar como a cultura ágil e o mindset colaborativo são essenciais no Scrum. Entenda como a adaptação, a comunicação aberta e a melhoria contínua impulsionam equipes a serem mais eficientes e entregarem valor de forma rápida e flexível.</p>
                </div>

                <div id="botao-inscreva">
                    <button><p>Leia mais</p><img src="../public/imgs/seta-direita.svg" alt=""></button>
                </div>
            </div>
            <div class="card">
                <img src="../public/imgs/teste.svg" alt="">

                <div>
                    <h1>Cultura e mindset ágil</h1>
                    <p>Neste capítulo, você vai explorar como a cultura ágil e o mindset colaborativo são essenciais no Scrum. Entenda como a adaptação, a comunicação aberta e a melhoria contínua impulsionam equipes a serem mais eficientes e entregarem valor de forma rápida e flexível.</p>
                </div>

                <div id="botao-inscreva">
                    <button><p>Leia mais</p><img src="../public/imgs/seta-direita.svg" alt=""></button>
                </div>
            </div>
            <div class="card">
                <img src="../public/imgs/teste.svg" alt="">

                <div>
                    <h1>Cultura e mindset ágil</h1>
                    <p>Neste capítulo, você vai explorar como a cultura ágil e o mindset colaborativo são essenciais no Scrum. Entenda como a adaptação, a comunicação aberta e a melhoria contínua impulsionam equipes a serem mais eficientes e entregarem valor de forma rápida e flexível.</p>
                </div>

                <div id="botao-inscreva">
                    <button><p>Leia mais</p><img src="../public/imgs/seta-direita.svg" alt=""></button>
                </div>
            </div>
            <div class="card">
                <img src="../public/imgs/teste.svg" alt="">

                <div>
                    <h1>Cultura e mindset ágil</h1>
                    <p>Neste capítulo, você vai explorar como a cultura ágil e o mindset colaborativo são essenciais no Scrum. Entenda como a adaptação, a comunicação aberta e a melhoria contínua impulsionam equipes a serem mais eficientes e entregarem valor de forma rápida e flexível.</p>
                </div>

                <div id="botao-inscreva">
                    <button><p>Leia mais</p><img src="../public/imgs/seta-direita.svg" alt=""></button>
                </div>
            </div>
            <div class="card">
                <img src="../public/imgs/teste.svg" alt="">

                <div>
                    <h1>Cultura e mindset ágil</h1>
                    <p>Neste capítulo, você vai explorar como a cultura ágil e o mindset colaborativo são essenciais no Scrum. Entenda como a adaptação, a comunicação aberta e a melhoria contínua impulsionam equipes a serem mais eficientes e entregarem valor de forma rápida e flexível.</p>
                </div>

                <div id="botao-inscreva">
                    <button><p>Leia mais</p><img src="../public/imgs/seta-direita.svg" alt=""></button>
                </div>
            </div>
            <div class="card">
                <img src="../public/imgs/teste.svg" alt="">

                <div>
                    <h1>Cultura e mindset ágil</h1>
                    <p>Neste capítulo, você vai explorar como a cultura ágil e o mindset colaborativo são essenciais no Scrum. Entenda como a adaptação, a comunicação aberta e a melhoria contínua impulsionam equipes a serem mais eficientes e entregarem valor de forma rápida e flexível.</p>
                </div>

                <div id="botao-inscreva">
                    <button><p>Leia mais</p><img src="../public/imgs/seta-direita.svg" alt=""></button>
                </div>
            </div>

        </div>
    </main>
    
</body>
</html>